.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33.3%;
      }
      &.right{
        left:33.3%;
      }
    }
    .next{
      left: 33.3%;
    }
    .prev{
      left: -33.3%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
      background-color: white;
    }
  }
}

// non-related styling:
body{
  background: white;
  color: white;
}
h1{
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.item span{
  text-align: center;
}

h4{
  text-decoration:underline;
}
